// Name:            Loader
//
// Component:       `loader`
//
// ========================================================================

// Variables
// ========================================================================
@loader-loader-blue-border:      @color-blue-600;
@loader-loader-red-border:       @color-red-600;
@loader-loader-yellow-border:    @color-yellow-600;
@loader-loader-green-border:     @color-green-600;

.loader-blue,
.loader-blue-only {
  border-color: @loader-loader-blue-border;
}

.loader-red,
.loader-red-only {
  border-color: @loader-loader-red-border;
}

.loader-yellow,
.loader-yellow-only {
  border-color: @loader-loader-yellow-border;
}

.loader-green,
.loader-green-only {
  border-color: @loader-loader-green-border;
}

.loader-circle-left,
.loader-circle-right {
 

  .circle {
    border-bottom-color: transparent !important;
  }
}

.loader-circle-left .circle {
  border-right-color: transparent !important;
}

.loader-circle-right .circle {
  border-left-color: transparent !important;
}



