<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">

  <title>Panel Transition | Remark Admin Template</title>

  <link rel="apple-touch-icon" href="../../assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="../../assets/images/favicon.ico">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="../../../global/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../global/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="../../assets/css/site.min.css">

  <!-- Plugins -->


  <link rel="stylesheet" href="../../../global/vendor/animsition/animsition.css">
  <link rel="stylesheet" href="../../../global/vendor/asscrollable/asScrollable.css">
  <link rel="stylesheet" href="../../../global/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="../../../global/vendor/intro-js/introjs.css">
  <link rel="stylesheet" href="../../../global/vendor/slidepanel/slidePanel.css">
  <link rel="stylesheet" href="../../../global/vendor/flag-icon-css/flag-icon.css">
  <link rel="stylesheet" href="../../../global/vendor/waves/waves.css">

  <!-- !PageSpecific Plugins -->

  <link rel="stylesheet" href="../../assets/examples/css/layouts/panel-transition.css">


  <!-- Fonts -->

  <link rel="stylesheet" href="../../../global/fonts/material-design/material-design.min.css">
  <link rel="stylesheet" href="../../../global/fonts/brand-icons/brand-icons.min.css">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

  <!-- !PageSpecific Fonts -->


  <!--[if lt IE 9]>
    <script src="../../../global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

  <!--[if lt IE 10]>
    <script src="../../../global/vendor/media-match/media.match.min.js"></script>
    <script src="../../../global/vendor/respond/respond.min.js"></script>
    <![endif]-->

  <!-- Scripts -->
  <script src="../../../global/vendor/modernizr/modernizr.js"></script>
  <script src="../../../global/vendor/breakpoints/breakpoints.js"></script>
  <script>
    Breakpoints();
  </script>
</head>
<body>
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


  <!-- Page -->
  <div class="page animsition">
    <div class="page-header">
      <h1 class="page-title">Panel Transition</h1>
      <ol class="breadcrumb">
        <li><a href="../index.html">Home</a></li>
        <li class="active">Panel Transition</li>
      </ol>
      <div class="page-header-actions">
        <div class="btn-group btn-group-sm" id="withBtnGroup" aria-label="Page Header Actions"
          role="group">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false">
              Try Transtion
              <span class="icon md-chevron-down" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li data-type="fade"><a href="javascript:void(0)">Fade</a></li>
              <li data-type="scale-up"><a href="javascript:void(0)">Scale Up</a></li>
              <li data-type="slide-left"><a href="javascript:void(0)">Slide Left</a></li>
              <li data-type="slide-right"><a href="javascript:void(0)">Slide Right</a></li>
              <li data-type="slide-top"><a href="javascript:void(0)">Slide Top</a></li>
              <li data-type="slide-bottom"><a href="javascript:void(0)">Slide Bottom</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="exampleTransition" class="page-content container-fluid" data-plugin="animateList">
      <ul class="blocks-xs-100 blocks-md-2 blocks-xlg-3">
        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 1</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 2</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 3</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 4</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 5</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 6</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 7</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 8</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 9</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 10</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 11</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 12</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 13</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 14</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 15</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 16</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 17</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Example - 18</h3>
              <div class="panel-actions">
                <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                  data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                  aria-hidden="true"></a>
                <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
              </div>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
                tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                elit. Fusce velit tortor.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <!-- Core  -->
  <script src="../../../global/vendor/jquery/jquery.js"></script>
  <script src="../../../global/vendor/bootstrap/bootstrap.js"></script>
  <script src="../../../global/vendor/animsition/animsition.js"></script>
  <script src="../../../global/vendor/asscroll/jquery-asScroll.js"></script>
  <script src="../../../global/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="../../../global/vendor/asscrollable/jquery.asScrollable.all.js"></script>
  <script src="../../../global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
  <script src="../../../global/vendor/waves/waves.js"></script>

  <!-- Plugins -->

  <script src="../../../global/vendor/switchery/switchery.min.js"></script>
  <script src="../../../global/vendor/intro-js/intro.js"></script>
  <script src="../../../global/vendor/screenfull/screenfull.js"></script>
  <script src="../../../global/vendor/slidepanel/jquery-slidePanel.js"></script>

  <!-- !PageSpecific Plugins -->

  <!-- Scripts -->

  <script src="../../../global/js/core.js"></script>
  <script src="../../assets/js/site.js"></script>

  <script src="../../assets/js/sections/menu.js"></script>
  <script src="../../assets/js/sections/menubar.js"></script>
  <script src="../../assets/js/sections/sidebar.js"></script>

  <script src="../../../global/js/configs/config-colors.js"></script>
  <script src="../../assets/js/configs/config-tour.js"></script>

  <script src="../../../global/js/components/asscrollable.js"></script>
  <script src="../../../global/js/components/animsition.js"></script>
  <script src="../../../global/js/components/slidepanel.js"></script>
  <script src="../../../global/js/components/switchery.js"></script>
  <script src="../../../global/js/components/tabs.js"></script>

  <!-- !PageSpecific Scripts -->
  <script src="../../../global/js/components/animate-list.js"></script>
  <script src="../../../global/js/components/panel.js"></script>

  <script src="../../assets/examples/js/layouts/panel-transition.js"></script>

</body>
</html>